@page "/logout"
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager


<h3>Logged Out</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await AuthService.LogOut();
        NavManager.NavigateTo("/");
    }
}
